/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #3949ab;
  --primary-light: #6f74dd;
  --primary-dark: #00227b;
  --accent-color: #00897b;
  --warn-color: #e53935;
  --background-color: #f8fafc;
  --sidebar-bg: #ffffff;
  --text-dark: #1e293b;
  --text-light: #64748b;
  --border-radius: 8px;
}
